In [9]:
from sqlalchemy import create_engine
import pandas as pd
import plotly as py
import plotly.graph_objs as go
py.offline.init_notebook_mode(connected=True)

In [10]:
model = 'mlp_1'
strategy = 'value_bet_0.2'

In [11]:
db = create_engine("mysql://root@localhost/football_data")
df = pd.read_sql(sql="""
select c.MATCH_ID, c.Date, c.competition_code, c.season_code, 
h.long_name as HomeTeam, aw.long_name as AwayTeam,
1/a.pH as fH, 1/a.pD as fD, 1/a.pA as fA,
c.BbAvH, c.BbAvD, c.BbAvA,
bH, bD, bA, payout, FTR
from match_prob a 
join match_bet b on a.MODEL = b.MODEL and a.MATCH_ID=b.MATCH_ID
join match_teams c on a.MATCH_ID = c.MATCH_ID
join teams h on c.HomeTeam = h.team_id 
join teams aw on c.AwayTeam = aw.team_id
where b.MODEL = '{model}' and b.STRATEGY='{strategy}' 
and bH+bD+bA > 0 and FTR is null""".format(model=model, strategy=strategy),
con=db)

In [12]:
df

,MATCH_ID,Date,competition_code,season_code,HomeTeam,AwayTeam,fH,fD,fA,BbAvH,BbAvD,BbAvA,bH,bD,bA,payout,FTR
0,57476,2017-12-13,SC0,1718,St Johnstone,Aberdeen,3.029590,3.557236,2.571982,3.69,3.23,2.05,1.0,0.0,0.0,0.0,None
1,57898,2017-12-17,F1,1718,Nantes,Angers,2.498712,3.315905,3.353263,2.02,3.18,4.07,0.0,0.0,1.0,0.0,None
2,57900,2017-12-15,F2,1718,Ajaccio,Auxerre,2.193260,3.569114,3.789658,1.82,3.24,4.63,0.0,0.0,1.0,0.0,None